* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
  gap: 2rem;
}
.nav .nav_logo {
  height: 100%;
  width: 100%;
}
.nav .logo {
  height: 100%;
  width: 100px;
}
.nav .nav_items {
  display: flex;
}
.nav .drop_down_container {
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
}
.nav .drop_down_lang {
  background-color: transparent;
  border: none;
  font-size: large;
}
.nav .drop_down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .lang__drop__down {
  background: transparent;
  border: none;
  color: white;
}
.nav .lang__drop__down:focus {
  outline: none;
}
.nav .lang__drop__down option {
  background-color: black;
}
.nav select {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0.5rem;
  color: white;
  justify-content: center;
  align-items: center;
  width: 6rem;
}
.nav .sign_in {
  background-color: rgb(168, 5, 5);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  width: 5rem;
}

.hero_container {
  width: 100%;
  height: 100vh;
}

.hero_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_overlay {
  position: absolute;
  inset: 0;
  height: 110%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.hero_heading {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hero_heading .hero_title {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 1.5;
}
.hero_heading .hero_subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}
.hero_heading .hero_description {
  font-size: 1.2rem;
  font-weight: 400;
}

.email_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.form_container {
  background-color: white;
  width: 90%;
  height: 50px;
  position: relative;
}

.email_input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}

.email_lable {
  color: black;
  position: absolute;
  top: 25%;
  left: 5%;
  color: gray;
  transition: 0.5s;
}

.email_button {
  background-color: #dc030f;
  border-radius: 1px;
  border: 1px solid #dc030f;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  width: 30%;
  height: 100%;
}

.card1, .card2, .card3 {
  position: relative;
  display: grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}
.card1 h1, .card2 h1, .card3 h1 {
  font-size: 3rem;
}
.card1 h3, .card2 h3, .card3 h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}
.card1 .desc1, .card2 .desc1, .card3 .desc1 {
  margin-left: 80px;
  padding: 30px;
}

.card2 .desc1 {
  padding-left: 30px;
}

.card1 img {
  grid-column: 2/2;
  grid-row: 1/2;
}
.card1 video {
  position: relative;
  width: 100%;
  height: 60%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
  margin-left: -20px;
}

.card3 img {
  grid-column: 2/2;
  grid-row: 1/2;
  width: 30rem;
}
.card3 video {
  position: relative;
  width: 50%;
  height: 60%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
  top: -87px;
  left: 120px;
}

.curve_div {
  position: relative;
  width: 100%;
  overflow: hidden;
  top: -30px;
}
.curve_div .curve {
  position: relative;
  left: -100px;
  top: 1rem;
  width: 110%;
  height: 100px; /* Height of the curve */
  border: 3px solid white;
  box-shadow: -1px 1px 14px 6px blue, -11px -9px 12px 1px purple;
  background-color: black;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-left: none;
  border-bottom: none;
}

.trend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.trend .trend_container {
  box-shadow: 0 0 15px 5px rgb(136, 4, 4);
  border-radius: 30px;
  padding: 40px;
  width: 70%;
}
.trend .trend_container .box {
  border: 2px solid rgb(99, 96, 96);
  height: 350px;
  width: 250px;
}
.trend .trend_container img {
  height: 100%;
  width: 100%;
}
.trend .trend_container h1 {
  position: absolute;
  font-size: 8rem;
  outline-color: white;
  position: relative;
  bottom: 9rem;
  left: -0.3rem;
}

.faq-section {
  max-width: 800px;
  margin: 0 auto;
}

.faq-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.faq-item {
  background-color: #303030;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.faq-question {
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background-color: #222;
  padding: 0 20px;
  transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-item:hover .faq-answer {
  max-height: 200px; /* Set enough height to fit your answer */
  padding: 20px;
}

.footer {
  color: #999;
  font-size: 0.9rem;
}
.footer p {
  margin-bottom: 1.5rem;
  margin-left: 50px;
}
.footer li {
  line-height: 1.9;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding-left: 50px;
}/*# sourceMappingURL=style.css.map */
