*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
    font-family: "Poppins", sans-serif;;
}
.nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
    // border: 5px solid black;
     gap:2rem;

        .nav_logo{
        height: 100%;
        width: 100%;
        }
        .logo{
            height: 100%;
            width: 100px;
        }

        .nav_items{
            display: flex;
            // border: 5px solid white ;
        }
        .drop_down_container{
            border-radius: 10px;
            border: 1px solid white;
            padding: 0.5rem;
            color:white;
            background: rgba(0, 0, 0, 0.4);
            // justify-content: center;
            // align-items: center;
        }
        .drop_down_lang{
            background-color: transparent;
            border: none;
            font-size: large;
        }
        .drop_down{
            display: flex;
            flex-direction: row;
            // border: 1px solid white;
            justify-content: center;
            align-items: center;
        }
        .lang__drop__down {
            background: transparent;
            border: none;
            color: white;
            }
        .lang__drop__down:focus{
            outline: none;
        }

        .lang__drop__down option{
            background-color: black;;
        }
        select{
            background-color: rgba(0, 0, 0, 0.4);
            // border-radius: 10px;
            // border: 1px solid white;
            border: none;
            padding: 0.5rem;
            color:white;
            justify-content: center;
            align-items: center;
            width: 6rem;
        }
        
        .sign_in{
            background-color: rgb(168, 5, 5);
            color:white;
            border-radius: 10px;
            padding:0.5rem;
            width: 5rem;
            
        }
       
    }

//hero img
.hero_container{
    width: 100%;
    height: 100vh;
}
.hero_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_overlay{
    position: absolute;
    inset: 0;
    height: 110%;  
    width: 100%;;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
    );
}

.hero_heading{
    // width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    //z-index: 2; /* make sure it's above overlay */
    // padding: 0 20px; /* optional for small screens */

    .hero_title {
        font-size: 2.7rem;
        font-weight: 600;
        line-height: 1.5;
    }   

    .hero_subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    }

    .hero_description {
    font-size: 1.2rem;
    font-weight: 400;
    //   max-width: 700px;
    }

   

}

 .email_container{
    width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1px;
    }
    .form_container{
        background-color: white;
        width: 90%;
        height: 50px;
        position: relative;
        
    }
    .email_input{
        border: none;
        background:transparent;
        width: 100%;
        height: 100%;
        padding-left: 7px;
    }
    .email_lable{
        color: black;
        position: absolute;
        top:25%;
        left:5%;
        color: gray;
        transition: 0.5s;
    }
    .email_button{
        background-color:#dc030f;
        border-radius: 1px;
        border:1px solid #dc030f;
        color: white;
        // padding: 0.8rem 1.2rem;
        font-size: 15px;
        letter-spacing: 1px;
        // display: flex;
        // flex-direction: row;
        width: 30%;
        height: 100%;
    }

    //TV Container
    .card1, .card2, .card3{
        // border: 2px solid white;
        position: relative;
        display:    grid;
        grid-template-columns: 50% 40%;
        text-align: left;
        align-items: center;
        padding: 25px 45px 50px;

         h1{
            font-size: 3rem;
            
        }
        h3{
            font-size: 1.6rem;
            line-height: 2rem;
        }
        .desc1{
        margin-left: 80px;
        padding: 30px;
    }
            
    }

    .card2 
    {
        .desc1{
            padding-left: 30px;
        }
       
    }
    
    .card1{
        img{
            // border:3px solid gray ;
            grid-column: 2/2;
            grid-row: 1/2;
        }

        video{
           position: relative;
           width: 100%;
           height: 60%;
           grid-column: 2/2;
           grid-row: 1/2;
           z-index: -1;
           margin-left: -20px;
        }
    } 

    .card3{
        img{
            // border:3px solid gray ;
            grid-column: 2/2;
            grid-row: 1/2;
            width:30rem;
        }

        video{
           position: relative;
           width: 50%;
           height: 60%;
           grid-column: 2/2;
           grid-row: 1/2;
           z-index: -1;
           top:-87px;
           left:120px;
            // top:-75px;
            // left:80px;
        }
    }
    
    //Curve Line

    .curve_div{
        // border: 5px solid wheat;
        position: relative;
        width: 100%;
        overflow: hidden;
        top:-30px;
        
            .curve {
            position: relative;
            left:-100px;
            top:1rem;
            width: 110%;
            height: 100px; /* Height of the curve */
            border: 3px solid white;
            // box-shadow: -1px 1px 14px 1px blue, -11px -9px 12px 0px purple;
            box-shadow: -1px 1px 14px 6px blue, -11px -9px 12px 1px purple;
            background-color: black;
            // margin-bottom: -80px; 
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-left: none;
            border-bottom: none;
            
            }
    }
    
    
    //Trending Movie

    .trend{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 5px solid gray;
       
            .trend_container{
                // border: 2px solid white;
                box-shadow: 0 0 15px 5px rgb(136, 4, 4);
                border-radius: 30px;
                // gap:50px;
                padding: 40px;
                width: 70%;
                // margin-left: 10px;
                // height: auto;

                .box{
                    border: 2px solid rgb(99, 96, 96);
                    height: 350px;
                    width: 250px;
                    // margin: 20px;
                }
                img{
                    
                    height: 100%;
                    width: 100%;
                }
                        
                h1{
                    position: absolute;
                    font-size: 8rem;
                    outline-color: white;
                    // border: 2px solid gold;
                    position: relative;
                    bottom:9rem;
                    left:-0.3rem;
                    // height: 100px;
                    
                }
        
            }
    }
    
    //FAQ Section

    
    .faq-section {
      max-width: 800px;
      margin: 0 auto;
    }

    .faq-title {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 40px;
    }

    .faq-item {
      background-color: #303030;
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
    }

    .faq-question {
      padding: 20px;
      font-size: 1.2rem;
      cursor: pointer;
      position: relative;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      background-color: #222;
      padding: 0 20px;
      transition: max-height 0.4s ease, padding 0.4s ease;
    }

    .faq-item:hover .faq-answer {
      max-height: 200px; /* Set enough height to fit your answer */
      padding: 20px;
    }

    //Footer
    .footer{
        color:#999;
        font-size: 0.9rem;
        p{
            margin-bottom: 1.5rem;
            margin-left: 50px;
        }
        li{
            line-height: 1.9;
        }
        .footer-cols{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            padding-left: 50px;
        }
    }

